# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
lib/
lib64/

# Virtual environments
.venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo
*.txt
*.gif
